@import "tool.css"; /* Import Tools Styles */
@import "json-formatter.css"; /* Import JSON FORMATTER Styles */
@import "text-formatter.css"; /* Import TEXT FORMATTER Styles */
@import "sum-numbers.css"; /* Import SUM NUMBERS Styles */

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
.w3-bar,
h1,
button {
  font-family: "Montserrat", sans-serif;
}

/* Header */

.navbar {
  position: fixed;
  z-index: 1;
  background: #000;
  padding: 1.5em 1em;
  margin: 0 auto;
  width: 100vw;
  max-width: 100vw;
}

.footer {
  z-index: 1;
  background: #000;
  padding: 1.5em 1em;
  margin: 0 auto;
  width: 100vw;
  max-width: 100vw;

  /* Provisional Fixed */
  /*   position: fixed;
  left: 0;
  bottom: 0; */
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.social-icon {
  font-size: 25px !important;
  padding: 0px 10px;
  text-decoration: none;
}

.header {
  /* background: #fc4a1a;
  background: -webkit-linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  );
  background: linear-gradient(
    to right,
    #f7b733,
    #fc4a1a
  ); */

  /* background: #40E0D0;
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); 
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); 
  
  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979); 
  background: linear-gradient(to right, #ff6a00, #ee0979); */

  background: #40e0d0;
  background: -webkit-linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  );

  color: white;
  padding-bottom: 84px;
  padding-top: 148px;
  padding-right: 16px;
  padding-left: 16px;
  width: 100vw;
  max-width: 100vw;
  /* padding: 1.5em 10em; */
}

.header-title {
  font-size: 32px;
  margin: 16px;
  text-align: center;
  font-weight: bold;
}

.m-0 {
  margin: 0;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}
