.sum-numbers-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  max-width: 100vw;
}

.text-sum-numbers-container {
  margin: 0px 8px;
}

.sum-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  margin: 0px 4px;
}

.sum-buttons {
  margin: 8px 4px;
  padding: 10px 20px;
}

.sum-numbers-results {
  margin: 0px 8px;
}
